@font-face {
    font-family: Cera Pro Regular, sans-serif;
    src: url(./font/CeraProRegular.otf);
}
@font-face {
    font-family: Cera Pro, sans-serif;
    src: url(./font/CeraProBold.otf);
}
:root{
    font-size: 16px;
}
*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cera Pro, sans-serif;
}
h1{
    font-size: 95px;
}
h2{
    font-size:  64px;
}
h3{
    font-size:  48px;
}
h4{
    font-size:  40px;
}
p{
    font-size: 20px;
}
nav{
    width: 100%;
    display: flex;
    padding: 1.5rem 2.5rem;
    justify-content: space-between;
    align-items: center;
    .hamburger-button{
        width: 3rem;
        height: 1.8rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        .bar{
            height: 0.25rem;
            width: 100%;
            border-radius: 0.5rem;
            background-color: #000000;
        }
    }
    img{
        width: 8.75rem;
        height: 3.866rem;
    }
    .nav-link{
        display: flex;
        justify-content: space-between;
        width: 29.563rem; 
        a{
            color: #000000;
            text-decoration: none;
            font-size: 20px;
            
        }
        a:hover{
            color: #333538;
        }
        .hover-link{
            .dropdown{ 
                background: #f1f1f1;
                display: none;
                position: absolute;
                li{
                    width: 100%;
                    padding: 1rem;
                }
            }
            
        }
        .hover-link:hover{
            .dropdown {
                z-index: 999;
                display: block; 
            }
            .dropdown li {
                display: block;
            }
        }
    }
    .lang{
        padding-right: 1rem;
        #en{
            color: #E2921E;
        }
        a{
            color: #000000;
            text-decoration: none;
            font-size: 20px; 
        }
        span{
            font-size: 20px;
        }
    }
}
header{
    height: 30rem;
    width: 100%;
    display: flex;
    position: relative;
    .header-left-orange{
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #E2921E;
    }
    .header-right-img {
        max-width: 100%;
        position: relative;
        z-index: -1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .header-text{
        position: absolute;
        color: #FFFFFF;
        top: 25%;
        left: 10%;
    }
    .header-hr{
        margin-top: 3rem;
        width: 80%;
        height: 5px;
        background-color: #ffffff;
    }
}
.block-one{
    width: 26rem;
    display: flex;
    flex-direction: column;
    margin: 90px auto;
    text-align: center;
    h4{
        color: #525661;
    }
    p{
        margin-top:10px;
        color: #08182F;
    }
}
.grid-container{
    display: grid;
    margin: 0 auto;
    max-width: 60rem;
    grid-template-columns: repeat(3, 1fr);
    .grid-1{
        display: flex;
        flex-direction: column;
        position: relative;
        .upper{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .lower{
            position: relative;
            padding: 2.5rem;
            background-color: #08182F;
            width: 100%;
            height: 100%;
            img{
                top: -2.2rem;
                position: absolute;
            }
            .title{
                font-weight: 600;
                font-size: 2rem;
                color: #E2921E;
                margin-bottom: 0.8rem;
            }
            hr{
                width: 50%;
                margin-bottom: 1rem;
                background-color: #F7DAB0;
            }
            p{
                color:#ffffff;
                font-size: 1rem;
                line-height: 1.1rem;
                text-align: left;
            }
        }
    }
    .grid-2{
        padding: 0;
        margin: 0;
        img{
            width: 100%;
            height: 100%;
            object-fit: fill;
        }
    }
    .grid-3{
        position: relative;
        background-color: #BDA888;
        padding: 5rem 2.5rem;
        img{
            position: absolute;
            left: -2rem;
            bottom: 4rem;
        }
        .title{
            font-size: 1.8rem;
            font-weight: 600;
            color: #FFFFFF;
        }
        hr{
            width: 50%;
            height: 0.2rem;
            margin: 1rem 0rem;
            background-color: #F7DAB0;
        }
        .bold-title{
            font-size: 1rem;
            font-weight: 400;
            color: #08182F;
            margin-bottom: 1rem;
        }
        p{
            line-height: 1.1rem;
            font-size: 0.8rem;
            color: #08182F;
            text-align: left;
        } 
    }
    .grid-4{
        padding: 0;
        margin: 0;
        img{
            width: 100%;
            height: 100%;
        object-fit: fill;
        }
    }
    .grid-5{
        position: relative;
        background-color: #E2921E;
        padding: 5rem 2.5rem;
        img{
            position: absolute;
            left: -2rem;
            bottom: 4rem;
        }
        .title{
            font-size: 1.8rem;
            font-weight: 600;
            color: #525661;
        }
        hr{
            width: 60%;
            height: 0.2rem;
            margin: 1rem 0rem;
            background-color: #F7DAB0;
        }
        .bold-title{
            font-size: 1rem;
            font-weight: 400;
            color: #fff;
            margin-bottom: 1rem;
        }
        p{
            line-height: 1.1rem;
            font-size: 0.8rem;
            color: #fff;
            text-align: left;
        }
    }
    .grid-6{
        display: flex;
        flex-direction: column;
        position: relative;
        .upper{
            position: relative;
            padding: 2.8rem;
            background-color: #181818;
            width: 100%;
            height: 100%;
            img{
                position: absolute;
                bottom: -2rem;
            }
            .title{
                color: #E2921E;
                font-size: 1.8rem;
                font-weight: 600;
                margin-bottom: 0.8rem;
            }
            hr{
                width: 50%;
                margin-bottom: 1rem;
                background-color: #F7DAB0;
            }
            p{
                color:#ffffff;
                font-size: 1rem;
                text-align: left;
            }
        }
        .lower{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
.block-two{
    color: #08182F;
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: 5rem auto;
    .left{
        width: 60%;
        display: flex;
        gap: 1rem;
        
        .card{
            display: flex;
            flex-direction: column;
            img{
                justify-self: flex-end;
                align-self: center;
            }
            .title{
                align-self: center;
                margin: 1rem 0;
            }
            .bottom-text{
                line-height: 1.3rem;
                text-align: left;
                font-size: 1rem;
            }
        }
        .card-3 img{
            padding-bottom: 0.5rem;
        }
    }
    .right{
        width: 40%;

        text-align: right;
        h2{
        font-size: 2.8rem;
    }
    }
}
.block-three{
    height: 32rem;
    background-color: #ECECEC;
    display: flex;
    justify-content: center;
    
    align-items: center;
    gap: 2rem;
    .three{
        align-self: center;
        justify-self: center;
        width: 25rem;
    }
    .left{
        h3{
            font-size: 2rem;
            line-height: 3rem;
            color: #525661;
        }
    }
    .middle{
        p{
            color: #000000;
            font-size: 1rem;
        }
    }
    .right{
        display: flex;
        gap: 1rem;
        padding: 0 auto;
        align-items: center;
        justify-content: space-between;
        a{
            text-decoration: none;
            color: #fff;
        }
        span{
            font-size: 1rem;
        }
        .btn1{
            background-color: #E2921E;
            width: 10.3rem;
            height: 4.375rem;
            border: none;
            
            padding: 1rem 2rem;
            border-radius: 0.8rem;
        }
        .btn2{
            background-color: #525661;
            width: 10.3rem;
            
            padding: 1rem 2rem;
            height: 4.375rem;
            border: none;
            border-radius: 0.8rem;
        }
    }
}
.block-four{
    height: 30rem;
    display: flex;
    position: relative;
    .four-right-gray{
        right: 0;
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #525661;
    }
    .four-left-img {
        width: 100%;
        position: relative;
        z-index: -1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .four-text{
        
        text-align: right;
        right: 1rem;
        position: absolute;
        margin-top: 1.2rem;
        color: #FFFFFF;
        top: 25%;
        right: 15%;
        h4{
            margin-top: 1.1rem;
        }
        .four-hr{
            position: absolute;
            right: 0;
            margin-top: 2rem;
            width: 80%;
            height: 5px;
            background-color: #ffffff;
        }
    }
    
}
.block-five{
    margin: 5rem auto;
    width: 20rem;
    text-align: center;
    p{
        color:#000000;
    }
}
.block-six{
    width: 60%;
    margin: 3rem auto;
    .six-btn{
        margin-bottom: 1.3rem;
        width: 100%;
        cursor: pointer;
        background-color: #ECECEC;
        color: #08182F;
        padding: 1rem;
        font-family: Cera Pro Regular, sans-serif;
        font-size: 1.1rem;
        font-weight: 400;
        border: none;
        border-radius: 0.9rem;
        
    }
    .noDisplay{
        display: none;
    }
    .drop-six{
        .no-btn{
            margin: 1rem auto;
            width: 80%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .block{
                margin-bottom: 1rem;
            }
            .title{
                color: #08182F;
                margin-bottom: 1rem;
                
            }
        }
        .drop-six-button{
            margin: 2rem auto;
            align-items: center;

            display: flex;
            color: #FFFFFF;
            background-color: #525661;
            cursor: pointer;
            padding: 1rem;
            font-size: 0.8rem;
            font-weight: 400;
            border: none;
            border-radius: 0.9rem;
        }
    }
}
.block-seven{
    height: 27rem;
    display: flex;
    position: relative;
    .seven-left-orange{
        position: absolute;
        width: 25%;
        height: 100%;
        background-color: #BDA888;
    }
    .seven-right-img {
        width: 100%;
        position: relative;
        z-index: -1;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    .seven-text{
        position: absolute;
        margin-top: 1.2rem;
        color: #FFFFFF;
        top: 25%;
        left: 15%;
        h4{
            margin-top: 1.1rem;
        }
    }
}
.block-eight{
    height: 40rem;
    padding-top: 4rem;
    background-color: #525661;
    .container{
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 3rem;
        .right{
            width: 100%;
            .row{
                display: flex;
                align-items: center;
                gap: 3rem;
                p{
                    color: #fff;
                       font-size: 0.8rem;
                    margin-bottom: 0.8rem;
                }
                .title{
                    font-weight: bolder;
                }
            }
        }
        .left{
            width: 100%;
            h4{
                color: #E2921E;
                font-size: 2rem;
                font-weight: 500;
            }
            p{
                font-size: 1rem;
                line-height: 1.4rem;
                margin-top: 1.5rem;
                color: #fff;
            }
        }
    }
}
.block-nine{
    display: flex;
    width: 80%;
    
    margin: 5rem auto;
    justify-content: space-between;
    text-align: center;
    .head{
        color: #525661;
        font-weight: 600;
    }
    .number{
        margin-top: 2rem;
        font-weight: 600;
        font-size: 3rem;
        color: #E2921E;
    }
}
.slider{
    margin-bottom: 12.438rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    .left-div{
        position: relative;
        width: 20%;
        height: 13rem;
        background-color: #525661;
        #left-btn{
            position: absolute;
            cursor: pointer;
            right: 2rem;
            top: 40%;
        }
    }
    #slider-div{
        width: 60%;
        height: 27rem;
        background-color: #08182F;
        position: relative;
        display: flex;
        gap:1rem;
        flex-direction: column;
        .big-quotes{
            width: 12rem;
            height: 6rem;
            margin: 2rem 4rem;
        }
        .slider{
            width: 80%;
            margin: 0 auto;    
            .text{
                font-size: 1.2rem;
                color: #FFFFFF;
            }
            .author{
                margin-top: 1rem;
                color: #E2921E;
                span{
                    letter-spacing: -0.1rem;
                }
            }
        }
        .small-quotes{
            
            margin-left: auto;
            margin-right: 4rem;
            width: 2.4rem;
            height: 1.188rem;
        }
        .slider-indicator{
            display: flex;
            gap: 3rem;
            margin: 0 auto;
            cursor: pointer;
            .indicator-active{
                width: 0.75rem;
                height: 0.75rem;
                background-color: #525661!important;
                border-radius: 50%;
            }
            .indicator{
                width: 0.75rem;
                height: 0.75rem;
                background-color: #C4C4C4;
                border-radius: 50%;
            }
        }
    }
    .right-div{
        position: relative;
        width: 20%;
        height: 13rem;
        background-color: #525661;
        #right-btn{
            position: absolute;
            cursor: pointer;
            left: 2rem;
            top: 40%;
        }
    }
}
footer{
    width: 100%;
    align-items: center;
    background-color: #E2921E;
    height: 5rem;
    display: flex;
    gap: 10%;
    color: #FFFFFF;
    .left{
        margin-left: 4rem;
        display: flex;
        gap: 3rem;
        a{
            color: #FFFFFF;
            text-decoration: none;
        }
    }
}
@media screen and (max-width:1024px) {
    :root{
        font-size: 14px;
    }
    .slider{
        #slider-div{
            height: 28.75rem;
        }
    }
    .block-two{
        flex-direction: column-reverse;
        gap: 2rem;
        .left{
            width: 80%;
            justify-content: space-between;
        }
        .right{
            width: 26rem;
            text-align: center;
        }
    }
    .block-three{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        .three{
            text-align: center;
            width: 28rem;
            margin: 0rem auto;
        }
    }
    .grid-container{
        width: 50rem;
        grid-template-columns: repeat(2,1fr);
        .grid-3{
            img{
                transform: rotate(180deg);
                left: 24rem;
            }
        }
        .grid-5{
            img{
                z-index: 2;
                transform: rotate(180deg);
                left: 24rem;
            }
        }
    }
    .block-eight{
        height: 123.75rem;
        .container{
            flex-direction: column;
            .left{
                text-align: center;
            }
            .right{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 2rem;
                .row{
                    width: 29rem;
                    flex-direction: column;
                    text-align: center;
                    gap: 2.8rem;
                    p{
                        font-size: 1.1rem;
                    }
                }
            }
            
        }
    }
    .block-nine{
        width: 15rem;
        margin: 5rem auto;
        flex-direction: column;
        gap: 5.375rem;
    }
    
}
@media screen and (max-width:768px) {
:root{
    font-size: 12px;
}
h1{
    font-size: 64px;
}
h2{
    font-size:  48px;
}
h3{
    font-size:  40px;
}
h4{
    font-size:  20px;
}
p{
    font-size: 18px;
}
nav{
    flex-direction: column;
    gap: 3rem;
    .logo{
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
        display: flex;
        align-items: center;
        .hamburger-button{
            display: flex!important;
        }
    }
    .active{
        display: flex!important;
    }
    .nav-link{
        display: none;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        .dropdown{
            position: absolute;
            right: 0;
            top: -2rem;
            li>a{
                font-size: 1.8rem;
            }
        }
    }
    .lang{
        display: none;
    }
}


}
@media screen and (max-width:640px) {
    :root{
        font-size: 10px;
    }
    footer{
        height: 30rem;
        justify-content: center;
        flex-direction: column-reverse;
        gap:4rem;
        .left{
            flex-direction: column;
            font-size: 1.4rem;
            text-align: center;
            margin: 0;
        }
        .right{
            text-align: center;
        }
    }
    .block-six{
        .drop-six{
            .no-btn{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                text-align: center;
            }
        }
    }
    .slider{
        #slider-div{
            justify-content: center;
            text-align: center;
            gap: 3rem;
            .big-quotes{
                display: none;
            }
            .small-quotes{
                display: none;
            }
        }
    }
    .block-two{
        .left{
            flex-direction: column;
            .card{
                p .bottom{
                    text-align: center;
                }
            }
        }
        
    }
    .grid-container{
        width: 35rem;
        grid-template-columns: repeat(1,1fr);
        .grid-3{
            img{
                display: none;
            }
        }
        .grid-5{
            img{
                display: none;
            }
        }
    }
}

@media screen and (max-width:425px){
    .block-four{
        .four-right-gray{
            display: none;
        }
        .four-left-img{
            img{object-position: 0}
        }
        .four-text{
            display: none;
        }
    }
    .block-seven{
        .seven-left-orange{
            display: none;
        }
        .seven-right-img{
            img{object-position: calc(100% + 14rem);}
        }
        .seven-text{
            display: none;
        }
    }
    header{
        .header-left-orange{
            display: none;
        }
        .header-right-img{
            
            img{object-position: calc(100% + 14rem);}
            
        }
        .header-text{
            display: none;
        }
    }
}
@media screen and (max-width: 320px){
    .grid-container{
        max-width: 100%;
    }
}

