@font-face {
  font-family: Cera Pro Regular, sans-serif;
  src: url(./font/CeraProRegular.otf);
}
@font-face {
  font-family: Cera Pro, sans-serif;
  src: url(./font/CeraProBold.otf);
}
* {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Cera Pro, sans-serif;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 40px;
}

p {
  font-size: 20px;
}

nav {
  display: flex;
  padding: 20px 55px;
  justify-content: space-between;
  align-items: center;
}
nav .nav-link {
  display: flex;
  justify-content: space-between;
  width: 30%;
}
nav .nav-link a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
nav .nav-link .hover-link .dropdown {
  background: #ffffff;
  display: none;
  position: absolute;
}
nav .nav-link .hover-link .dropdown li {
  width: 100%;
  padding: 1rem;
}
nav .nav-link .hover-link:hover .dropdown {
  z-index: 999;
  display: block;
}
nav .nav-link .hover-link:hover .dropdown li {
  display: block;
}
nav .lang {
  margin-right: 3rem;
}
nav .lang #en {
  color: #E2921E;
}
nav .lang a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
nav .lang span {
  font-size: 20px;
}

header {
  height: 27rem;
  display: flex;
  position: relative;
}
header .header-left-orange {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #E2921E;
}
header .header-right-img {
  width: 100%;
  position: relative;
  z-index: -1;
}
header .header-right-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-text {
  position: absolute;
  margin-top: 1.2rem;
  color: #FFFFFF;
  margin: 140px 140px 280px 140px;
}
header .header-text h4 {
  margin-top: 1.1rem;
}
header .header-hr {
  margin-top: 2rem;
  width: 80%;
  height: 5px;
  background-color: #ffffff;
}

.block-one {
  width: 30%;
  display: flex;
  flex-direction: column;
  margin: 90px auto;
  text-align: center;
}
.block-one h4 {
  color: #525661;
}
.block-one p {
  margin-top: 10px;
  color: #08182F;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  max-width: 60rem;
  grid-template-columns: repeat(3, 1fr);
}
.grid-container .grid-1 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid-container .grid-1 .upper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.grid-container .grid-1 .lower {
  position: relative;
  padding: 2.5rem;
  background-color: #08182F;
  width: 100%;
  height: 100%;
}
.grid-container .grid-1 .lower img {
  top: -2.2rem;
  position: absolute;
}
.grid-container .grid-1 .lower .title {
  font-weight: 600;
  font-size: 2rem;
  color: #E2921E;
  margin-bottom: 0.8rem;
}
.grid-container .grid-1 .lower hr {
  width: 50%;
  margin-bottom: 1rem;
  background-color: #F7DAB0;
}
.grid-container .grid-1 .lower p {
  color: #ffffff;
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: left;
}
.grid-container .grid-2 {
  padding: 0;
  margin: 0;
}
.grid-container .grid-2 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.grid-container .grid-3 {
  position: relative;
  background-color: #BDA888;
  padding: 5rem 2.5rem;
}
.grid-container .grid-3 img {
  position: absolute;
  left: -2rem;
  bottom: 4rem;
}
.grid-container .grid-3 .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #FFFFFF;
}
.grid-container .grid-3 hr {
  width: 50%;
  height: 0.2rem;
  margin: 1rem 0rem;
  background-color: #F7DAB0;
}
.grid-container .grid-3 .bold-title {
  font-size: 1rem;
  font-weight: 400;
  color: #08182F;
  margin-bottom: 1rem;
}
.grid-container .grid-3 p {
  line-height: 1.1rem;
  font-size: 0.8rem;
  color: #08182F;
  text-align: left;
}
.grid-container .grid-4 {
  padding: 0;
  margin: 0;
}
.grid-container .grid-4 img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.grid-container .grid-5 {
  position: relative;
  background-color: #E2921E;
  padding: 5rem 2.5rem;
}
.grid-container .grid-5 img {
  position: absolute;
  left: -2rem;
  bottom: 4rem;
}
.grid-container .grid-5 .title {
  font-size: 1.8rem;
  font-weight: 600;
  color: #525661;
}
.grid-container .grid-5 hr {
  width: 60%;
  height: 0.2rem;
  margin: 1rem 0rem;
  background-color: #F7DAB0;
}
.grid-container .grid-5 .bold-title {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1rem;
}
.grid-container .grid-5 p {
  line-height: 1.1rem;
  font-size: 0.8rem;
  color: #fff;
  text-align: left;
}
.grid-container .grid-6 {
  display: flex;
  flex-direction: column;
  position: relative;
}
.grid-container .grid-6 .upper {
  position: relative;
  padding: 2.8rem;
  background-color: #181818;
  width: 100%;
  height: 100%;
}
.grid-container .grid-6 .upper img {
  position: absolute;
  bottom: -2rem;
}
.grid-container .grid-6 .upper .title {
  color: #E2921E;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.grid-container .grid-6 .upper hr {
  width: 50%;
  margin-bottom: 1rem;
  background-color: #F7DAB0;
}
.grid-container .grid-6 .upper p {
  color: #ffffff;
  font-size: 1rem;
  text-align: left;
}
.grid-container .grid-6 .lower img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-two {
  color: #08182F;
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  margin: 5rem auto;
}
.block-two .left {
  width: 60%;
  display: flex;
  gap: 1rem;
}
.block-two .left .card {
  display: flex;
  flex-direction: column;
}
.block-two .left .card img {
  justify-self: flex-end;
  align-self: center;
}
.block-two .left .card .title {
  align-self: center;
  margin: 1rem 0;
}
.block-two .left .card .bottom-text {
  line-height: 1.3rem;
  text-align: left;
  font-size: 1rem;
}
.block-two .left .card-3 img {
  padding-bottom: 0.5rem;
}
.block-two .right {
  text-align: right;
}
.block-two .right h2 {
  font-size: 2.8rem;
}

.block-three {
  height: 20rem;
  background-color: #ECECEC;
  display: flex;
  padding: 0 4rem;
  align-items: center;
  gap: 4rem;
}
.block-three .three {
  align-self: center;
  justify-self: center;
  width: 30%;
}
.block-three .left h3 {
  font-size: 2rem;
  line-height: 3rem;
  color: #525661;
}
.block-three .middle p {
  color: #000000;
  font-size: 0.7rem;
}
.block-three .right {
  display: flex;
  padding: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.block-three .right a {
  text-decoration: none;
  color: #fff;
}
.block-three .right span {
  font-size: 0.6rem;
}
.block-three .right .btn1 {
  background-color: #E2921E;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
}
.block-three .right .btn2 {
  background-color: #525661;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.8rem;
}

.block-four {
  height: 27rem;
  display: flex;
  position: relative;
}
.block-four .four-right-gray {
  right: 0;
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #525661;
}
.block-four .four-left-img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.block-four .four-left-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-four .four-text {
  text-align: right;
  right: 1rem;
  position: absolute;
  margin-top: 1.2rem;
  color: #FFFFFF;
  margin: 140px 140px 280px 140px;
}
.block-four .four-text h4 {
  margin-top: 1.1rem;
}
.block-four .four-text .four-hr {
  position: absolute;
  right: 0;
  margin-top: 5rem;
  width: 80%;
  height: 5px;
  background-color: #ffffff;
}
.block-four .header-hr {
  align-self: self-end;
  margin-top: 5rem;
  width: 80%;
  height: 5px;
  background-color: #ffffff;
}

.block-five {
  margin: 5rem auto;
  width: 30%;
}
.block-five p {
  color: #000000;
}

.block-six {
  width: 60%;
  margin: 3rem auto;
}
.block-six .six-btn {
  margin-bottom: 1.3rem;
  width: 100%;
  cursor: pointer;
  background-color: #ECECEC;
  color: #08182F;
  padding: 1rem;
  font-family: Cera Pro Regular, sans-serif;
  font-size: 1.1rem;
  font-weight: 400;
  border: none;
  border-radius: 0.9rem;
}
.block-six .noDisplay {
  display: none;
}
.block-six .drop-six .no-btn {
  margin: 1rem auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.block-six .drop-six .no-btn .block {
  margin-bottom: 1rem;
}
.block-six .drop-six .no-btn .title {
  color: #08182F;
  margin-bottom: 1rem;
}
.block-six .drop-six .drop-six-button {
  margin: 2rem auto;
  align-items: center;
  display: flex;
  color: #FFFFFF;
  background-color: #525661;
  cursor: pointer;
  padding: 1rem;
  font-size: 0.8rem;
  font-weight: 400;
  border: none;
  border-radius: 0.9rem;
}

.block-seven {
  height: 27rem;
  display: flex;
  position: relative;
}
.block-seven .seven-left-orange {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #BDA888;
}
.block-seven .seven-right-img {
  width: 100%;
  position: relative;
  z-index: -1;
}
.block-seven .seven-right-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.block-seven .seven-text {
  position: absolute;
  margin-top: 1.2rem;
  color: #FFFFFF;
  margin: 140px 140px 280px 140px;
}
.block-seven .seven-text h4 {
  margin-top: 1.1rem;
}

.block-eight {
  height: 40rem;
  padding-top: 4rem;
  background-color: #525661;
}
.block-eight .container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 3rem;
}
.block-eight .container .right {
  width: 100%;
}
.block-eight .container .right .row {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 1.5rem;
}
.block-eight .container .right .row p {
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
}
.block-eight .container .right .row .title {
  font-weight: bolder;
}
.block-eight .container .left {
  width: 100%;
}
.block-eight .container .left h4 {
  color: #E2921E;
  font-size: 2rem;
  font-weight: 500;
}
.block-eight .container .left p {
  font-size: 1rem;
  line-height: 1.4rem;
  margin-top: 1.5rem;
  color: #fff;
}

.block-nine {
  display: flex;
  width: 80%;
  margin: 5rem auto;
  justify-content: space-between;
  text-align: center;
}
.block-nine .head {
  color: #525661;
  font-weight: 600;
}
.block-nine .number {
  margin-top: 2rem;
  font-weight: 600;
  font-size: 3rem;
  color: #E2921E;
}

.slider {
  max-width: 100%;
  margin-bottom: 2rem;
}
.slider .main {
  width: 50%;
  height: 20rem;
  margin: 0 auto;
  background-color: #08182F;
  position: relative;
}
.slider .main .left-square {
  height: 10rem;
  width: 20rem;
  z-index: -1;
  background-color: #525661;
  position: absolute;
  left: -20rem;
  top: 6rem;
}
.slider .main .right-square {
  height: 10rem;
  width: 20rem;
  z-index: -1;
  background-color: #525661;
  position: absolute;
  right: -20rem;
  top: 6rem;
}
.slider .main #left-btn {
  cursor: pointer;
  position: absolute;
  left: -4rem;
  top: 50%;
}
.slider .main #right-btn {
  position: absolute;
  right: -4rem;
  top: 50%;
  cursor: pointer;
}
.slider .main .big-quotes {
  scale: 0.6;
  left: 0.7rem;
  position: absolute;
  top: 0.2rem;
}
.slider .main .small-quotes {
  position: absolute;
  right: 4rem;
  bottom: 2rem;
}
.slider .main #slider-div {
  position: relative;
  width: 70%;
  top: 40%;
  margin: 0 auto;
}
.slider .main #slider-div .slider .text {
  font-size: 1.2rem;
  color: #FFFFFF;
}
.slider .main #slider-div .slider .author {
  margin-top: 1rem;
  color: #E2921E;
}
.slider .main #slider-div .slider .author span {
  letter-spacing: -0.1rem;
}

footer {
  width: 100%;
  align-items: center;
  background-color: #E2921E;
  height: 5rem;
  display: flex;
  gap: 10%;
  color: #FFFFFF;
}
footer .left {
  margin-left: 4rem;
  display: flex;
  gap: 3rem;
}
footer .left a {
  color: #FFFFFF;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */